body {
  padding: 25px;
}

#draggable {
  background: orange;
  color: white;
  width: 200px;
  height: 200px;
  line-height: 200px;
  white-space: nowrap;
  text-align: center;
  cursor: move;
  &:hover {
    background: darken(orange, 5);
  }
}