body {
    background-image: url(../images/pastel.jpg);
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
}

h2 {
    background: red;
    background: -webkit-linear-gradient(left, orange, yellow, green, skyblue, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, skyblue, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, skyblue, blue, violet);
    background: linear-gradient(to right, orange, yellow, green, skyblue, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }