body {
      background-image: url(../images/pastel.jpg);
      background-position: center;
			min-height: 100vh;
			background-size: cover;
      padding-left: 40px;
      padding-right: 40px;
		}

#typing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}