body {
      background-image: url(../images/holoback2.png);
      background-position: center;
			min-height: 100vh;
			background-size: cover;
      padding-left: 60px;
      padding-right: 60px;
		}

#comingsoon {
  display: flex;
  justify-content: center;
}
/*
.grid-container {
  display: grid;
  grid-template-columns: 80px 200px auto 40px;
}
*/