@font-face {
			font-family: oldeenglishregular;
			src: url("oldeenglishregular.ttf");
		}
    gump {
      padding-top: 40px;
    }
		body {
      text-align: center;
			text-shadow: 8px 8px 8px grey;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      background-image: url(../images/pastel.jpg);
      background-position: center;
			min-height: 100vh;
			background-size: cover;
      padding-left: 40px;
      padding-right: 40px;
		}
    h3 {
			display: center;
      color: skyblue;
			font-size: 0px;
      font-family: monospace;
		}
    #depop {
      height: 180px;
      width: 180px;
    }
    h5 {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
      float: center;
    }
    #h6 {
      padding-top: 140px;
      align: center;
      width: 100%;
    }
    #art {
      width: 220px;
      height: 300px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
		#spotify {
      height: 210px;
			width: 210px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
		}
    #discord {
      width: 250px;
      height: 250px;
    }
    #animevinyl {
      height: 190px;
      width: 250px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #danieljs {
      height: 180px;
      width: 180px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #fetchrewards {
      height: 230px;
      width: 230px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #amazonwl {
      width: 200px;
      height: 150px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #mint {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      height: 280px;
      width: 195px;
    }
		#analyze {
			height: 180px;
      width: 180px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
		}
		#select {
			text-align: center;
			padding-top: 10px;
		}
    #storefront {
      height: 180px;
      width: 180px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
    }
    #iframe {
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #bestmoments {
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #tiktok {
      width: 180px;
      height: 180px;
    }
    #popl {
      width: 290px;
      height: 290px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #podcast {
      width: 350px;
      height: 180px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #glossier {
      width: 250px;
      height: 250px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #selfcare {
      width: 250px;
      height: 250px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #gopuff {
      width: 150px;
      height: 350px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #tumblr {
      width: 210px;
      height: 210px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #twitter {
      height: 180px;
      width: 180px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
    }
    #facebook {
      width: 210px;
      height: 210px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #reddit {
      width: 250px;
      height: 150px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #tattoo {
      width: 250px;
      height: 250px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #ebay {
      width: 200px;
      height: 220px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #parade {
      width: 300px;
      height: 280px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #paypal {
      align: center;
      height: 150px;
      width: 250px;
    }
    #moto {
      width: 280px;
      height: 180px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
    #rakuten {
      width: 220px;
      height: 220px;
      padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
      padding-right: 10px;
    }
		select[name="dropdowntwo"] {
      text-align: center;
      display: block;
      margin: 2rem auto;
		}
		@keyframes bounce {
			0% {
				transform: scale(1, 1) translateY(0);
			}
			10% {
				transform: scale(1.1, .9) translateY(0);
			}
			30% {
				transform: scale(.9, 1.1) translateY(-100px);
			}
			50% {
				transform: scale(1.05, .95) translateY(0);
			}
			57% {
				transform: scale(1, 1) translateY(-7px);
			}
			64% {
				transform: scale(1, 1) translateY(0);
			}
			100% {
				transform: scale(1, 1) translateY(0);
			}
		}